#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

#footer {
      background-color:black;
      color:white;
      clear:both;
      text-align:center;
      padding:5px;
      position: fixed;
      width: 100%;
      bottom: 0;
}

#div_user_input {
  display: inline;
  position: relative;
  left: 0%;
  width: 50%;
}

#div_cutting_list {
  display: inline;
  position: fixed;
  top: 10%;
  right: 0%;
  width: 30%;
}